
.vs/

*.user

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Oo]bj/


src/TestSite/umbraco/Data/TEMP/*
src/TestSite/umbraco/Logs/*
src/TestSite/umbraco/models/*
src/TestSite/umbraco/mediacache/*

src/TestSiteCE/umbraco/Data/TEMP/*
src/TestSiteCE/umbraco/Logs/*
src/TestSiteCE/umbraco/models/*
src/TestSiteCE/umbraco/mediacache/*