<div ng-controller="HCSlackNM.Loader">
  <div class="row">
    <umb-box>
      <umb-box-content>
        <div>
          <img style="float: right; width: 32px;" src="/App_Plugins/HealthCheckSlackNotificationMethod/Install/slack-health-check-notification-32.png" />
          <h3 class="bold">Umbraco Slack Heath Check Notification Method</h3>
        </div>
      </umb-box-content>
    </umb-box>
  </div>
  <div class="row">
    <div><hr /></div>
  </div>
  <div class="row" ng-show="!saved">
    <div>
      <fieldset>
        <legend><h4>To complete installation, please enter the required parameters for the Azure storage provider below</h4></legend>
        <ng-form name="paramForm" class="form-horizontal" role="form">
          <div ng-repeat="param in parameters" class="control-group">
            <label class="control-label" for="{{param.key}}" style="width:160px">{{ capitalizeFirstLetter(param.key) }}</label>
            <div class="controls">
              <span ng-if="getInputType(param.key) === 'checkbox'">
                <input class="input-block-level"
                       style="width:600px"
                       name="{{param.key}}"
                       type="checkbox"
                       ng-model="param.value"
                       ng-true-value="'true'"
                       ng-false-value="'false'"
                       ng-init="param.value">
              </span>
              <span ng-if="getInputType(param.key) === 'text'">
                <input class="input-block-level"
                       style="width:600px"
                       name="{{param.key}}"
                       type="text"
                       ng-model="param.value"
                       required>
              </span>
            </div>
            <span data-ng-show="{{'paramForm.' + param.key + '.$dirty && paramForm.' + param.key + '.$error.required'}}">Required!</span>

          </div>
          <button preventDefault class="btn btn-primary" ng-click="paramForm.$valid && submitForm($event)">Save</button>
        </ng-form>
      </fieldset>
    </div>
  </div>
  <div class="row" ng-show="!saved">
    <div><hr /></div>
  </div>

  <div class="row">
    <div>
      <div class="alert alert-success" ng-show="saved && (status === 'Ok')">
        The Umbraco Slack Heath Check Notification Method was successfully configured
      </div>
    </div>
  </div>

</div>