<?xml version ="1.0" encoding="utf-8" ?>
<!--
Please note: to use healthcheck notifications you must ensure to set the umbracoApplicationUrl value
in umbracoSettings.config.  For more information on this setting, please see:
https://our.umbraco.org/documentation/reference/config/umbracosettings/#web-routing

For details on the format of this configuration file see:
https://our.umbraco.org/documentation/reference/config/healthchecks
-->
<HealthChecks>
  <disabledChecks>
    <!--<check id="1B5D221B-CE99-4193-97CB-5F3261EC73DF" disabledOn="" disabledBy="0" />-->
  </disabledChecks>
  <notificationSettings enabled="false" firstRunTime="" periodInHours="24">
    <notificationMethods>
      <!--<notificationMethod alias="email" enabled="true" verbosity="Summary" failureOnly="true">
        <settings>
          <add key="recipientEmail" value="" />
        </settings>
      </notificationMethod>-->
    </notificationMethods>
    <disabledChecks>
      <!-- Folder & File Permissions -->
      <check id="53DBA282-4A79-4B67-B958-B29EC40FCC23" disabledOn="" disabledBy="0" />
    </disabledChecks>
  </notificationSettings>
</HealthChecks>


